.card img {
    width: 100%;
    height: 200px;
    display: block;
    border: 2px solid white;
    border-radius: 6px;
}

.card {
    position: relative;
}

.card .back {
    position: absolute;
    z-index: 1;
}

.flipped-card .back {
    z-index: -1;
}

.card:hover {
    cursor: pointer;
}