.App {
  max-width: 1200px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background: #d1376a;
  color: #fff;
}